<div class="heading-description_container">
  <div class="heading">
    <h1>ngrx-carousel</h1>
  </div>
  <div class="descrption">
    <h4>Description</h4>
    <p>An amazing responsive carousel for Angular projects. Which supports auto play, manual controls with lot of animations</p>
    <p>Git repo https://github.com/richardmtp/ngrx-carousel/</p>
    <div class="example-container">
      <h5 class="eg">How to use?</h5>
      <p> * npm i ngrx-carousel </p>
      <p> * Import NgrxCarouselModule in your app.module.ts </p>
      <pre>
          import &#60; NgrxCarouselModule &#62; from 'ngrx-carousel';
          imports: [
            ...,
            NgrxCarouselModule
          ],
      </pre>
      <p> * add ngrx-carousel tag app.module.html </p>
      <pre>
          &#60;ngrx-carousel [items]="items" [setting]="setting"&#62;&#60;/ngrx-carousel&#62;
      </pre>
      <p> * app.module.ts import following items</p>
      <pre>
          import &#60; NgrxCarouselItem, NgrxCarouselSetting, NgrxAnimationType &#62; from 'ngrx-carousel';

          items: Array&#60;NgrxCarouselItem&#62; = &#91;&#93;;

          setting: NgrxCarouselSetting;

          export class AppComponent &#123;
            constructor() &#123;
              this.items = &#91;&#93;
              this.items.push&#40;&#123;src: 'assets/image1.png'&#125;&#41;
              this.items.push&#40;&#123;src: 'assets/image2.png'&#125;&#41;
              this.items.push&#40;&#123;src: 'assets/image3.png'&#125;&#41;

              this.setting = &#123;
                autoPlay: true,
                showArrow: true,
                holdTime: 5000,
                showDots: false,
                animation: NgrxAnimationType.FADE_IN_LEFT
              &#125;
            &#125;
          &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>CARD IN LEFT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ngrx-carousel [items]="items" [setting]="setting"></ngrx-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: false,
      animation: NgrxAnimationType.CARD_IN_LEFT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>CARD IN RIGHT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ngrx-carousel [items]="items" [setting]="settingrx"></ngrx-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: NgrxAnimationType.CARD_IN_RIGHT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>FADE IN</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ngrx-carousel [items]="items" [setting]="setting3"></ngrx-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: NgrxAnimationType.FADE_IN
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>FADE IN LEFT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ngrx-carousel [items]="items" [setting]="setting4"></ngrx-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: NgrxAnimationType.FADE_IN_LEFT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>FADE IN RIGHT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ngrx-carousel [items]="items" [setting]="setting5"></ngrx-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: NgrxAnimationType.FADE_IN_RIGHT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>ZOOM IN</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ngrx-carousel [items]="items" [setting]="setting6"></ngrx-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: NgrxAnimationType.ZOOM_IN
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>MANUAL CONTROL</h1>
  </div>
  <div class="manual-description">
      <h5 class="eg">Eg:</h5>
      <pre> 
        // #manualControl : This is 'Reference variable' which is used to control ngrx-carousel as a @ViewChild
        &#60;ngrx-carousel <strong>#manualControl</strong> [items]="items" [setting]="setting"&#62;&#60;/ngrx-carousel&#62; 
      </pre>
      <pre>
        // Trigger button click

        import &#60; NgrxCarouselComponent &#62; from 'ngrx-carousel';
        @ViewChild('manualControl', &#123;static: true&#125;) manualControl: NgrxCarouselComponent;

        playNext() &#123;
          this.manualControl.playNext()
        &#125;

        playPrev() &#123;
          this.manualControl.playPrev()
        &#125;
      </pre>
  </div>
  <div class="item_demo_container">
    <div class="item_demo with_button">
        <button (click)="playPrev()">Prev</button>
        <ngrx-carousel #manualControl style="width: 70%;height:100% " [items]="items" [setting]="setting7"></ngrx-carousel>
        <button (click)="playNext()"> Next </button>
    </div>
    <div class="item_details">
      <pre>
      setting = &#123;
        autoPlay: false,
        showArrow: false,
        holdTime: 5000,
        showDots: true,
        animation: NgrxAnimationType.ZOOM_IN
      &#125;
      </pre>
    </div>
  </div>
</div>