<div class="heading-description_container">
  <div class="heading">
    <h1>ng2-carousel</h1>
  </div>
  <div class="descrption">
    <h4>Description</h4>
    <p>An amazing responsive carousel for Angular projects. Which supports auto play, manual controls with lot of animations</p>
    <div class="example-container">
      <h5 class="eg">How to use?</h5>
      <p> * npm i ng2-carousel </p>
      <p> * Import Ng2CarouselModule in your app.module.ts </p>
      <pre>
          import &#60; Ng2CarouselModule &#62; from 'ng2-carousel';
          imports: [
            ...,
            Ng2CarouselModule
          ],
      </pre>
      <p> * add ng2-carousel tag app.module.html </p>
      <pre>
          &#60;ng2-carousel [items]="items" [setting]="setting"&#62;&#60;/ng2-carousel&#62;
      </pre>
      <p> * app.module.ts import following items</p>
      <pre>
          import &#60; Ng2CarouselItem, Ng2CarouselSetting, Ng2AnimationType &#62; from 'ng2-carousel';

          items: Array&#60;Ng2CarouselItem&#62; = &#91;&#93;;

          setting: Ng2CarouselSetting;

          export class AppComponent &#123;
            constructor() &#123;
              this.items = &#91;&#93;
              this.items.push&#40;&#123;src: 'assets/image1.png'&#125;&#41;
              this.items.push&#40;&#123;src: 'assets/image2.png'&#125;&#41;
              this.items.push&#40;&#123;src: 'assets/image3.png'&#125;&#41;

              this.setting = &#123;
                autoPlay: true,
                showArrow: true,
                holdTime: 5000,
                showDots: false,
                animation: Ng2AnimationType.FADE_IN_LEFT
              &#125;
            &#125;
          &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>CARD IN LEFT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ng2-carousel [items]="items" [setting]="setting"></ng2-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: false,
      animation: Ng2AnimationType.CARD_IN_LEFT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>CARD IN RIGHT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ng2-carousel [items]="items" [setting]="setting2"></ng2-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: Ng2AnimationType.CARD_IN_RIGHT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>FADE IN</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ng2-carousel [items]="items" [setting]="setting3"></ng2-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: Ng2AnimationType.FADE_IN
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>FADE IN LEFT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ng2-carousel [items]="items" [setting]="setting4"></ng2-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: Ng2AnimationType.FADE_IN_LEFT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>FADE IN RIGHT</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ng2-carousel [items]="items" [setting]="setting5"></ng2-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: Ng2AnimationType.FADE_IN_RIGHT
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>ZOOM IN</h1>
  </div>
  <div class="item_demo_container">
    <div class="item_demo">
      <ng2-carousel [items]="items" [setting]="setting6"></ng2-carousel>
    </div>
    <div class="item_details">
      <pre>
    setting = &#123;
      autoPlay: true,
      showArrow: true,
      holdTime: 5000,
      showDots: true,
      animation: Ng2AnimationType.ZOOM_IN
    &#125;
      </pre>
    </div>
  </div>
</div>
<div class="item_container">
  <div class="item_heading">
    <h1>MANUAL CONTROL</h1>
  </div>
  <div class="manual-description">
      <h5 class="eg">Eg:</h5>
      <pre> 
        // #manualControl : This is 'Reference variable' which is used to control ng2-carousel as a @ViewChild
        &#60;ng2-carousel <strong>#manualControl</strong> [items]="items" [setting]="setting"&#62;&#60;/ng2-carousel&#62; 
      </pre>
      <pre>
        // Trigger button click

        import &#60; Ng2CarouselComponent &#62; from 'ng2-carousel';
        @ViewChild('manualControl', &#123;static: true&#125;) manualControl: Ng2CarouselComponent;

        playNext() &#123;
          this.manualControl.playNext()
        &#125;

        playPrev() &#123;
          this.manualControl.playPrev()
        &#125;
      </pre>
  </div>
  <div class="item_demo_container">
    <div class="item_demo with_button">
        <button (click)="playPrev()">Prev</button>
        <ng2-carousel #manualControl style="width: 70%;height:100% " [items]="items" [setting]="setting7"></ng2-carousel>
        <button (click)="playNext()"> Next </button>
    </div>
    <div class="item_details">
      <pre>
      setting = &#123;
        autoPlay: false,
        showArrow: false,
        holdTime: 5000,
        showDots: true,
        animation: Ng2AnimationType.ZOOM_IN
      &#125;
      </pre>
    </div>
  </div>
</div>