<div>
  <button (click)="playPrev()">Prev</button>
  <div style="width: 500px; height: 200px; margin: 0 auto; box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important">
    <ng2-carousel #c1 [items]="items" [setting]="setting"></ng2-carousel>
  </div>
  <button (click)="playNext()"> Next </button>
</div>
<div style="width: 500px; height: 200px; margin-top: 50px;">
  <ng2-carousel #c2 [items]="items" [setting]="setting2"></ng2-carousel>
</div>

<div style="width: 600px; height: 400px; margin-top: 50px; position: absolute; top: 250px; left: 600px;">
  <ng2-carousel [items]="items" [setting]="setting3"></ng2-carousel>
</div>

<div style="width: 500px; height: 300px; margin-top: 50px;">
  <ng2-carousel [items]="items"></ng2-carousel>
</div>